@import "tailwindcss";

@theme {
  --color-text: var(--text);
  --color-text-h: var(--text-h);
  --color-bg: var(--bg);
  --color-border: var(--border);
  --color-accent: var(--accent);
  --color-code-bg: var(--code-bg);

  --font-sans: var(--sans);
  --font-heading: var(--heading);
  --font-mono: var(--mono);

  --breakpoint-lg: 1024px;
}

@layer base {
  :root {
    --text: #6b6375;
    --text-h: #08060d;
    --bg: #fff;
    --border: #e5e4e7;
    --code-bg: #f4f3ec;
    --accent: #aa3bff;

    --sans: system-ui, "Segoe UI", Roboto, sans-serif;
    --heading: system-ui, "Segoe UI", Roboto, sans-serif;
    --mono: ui-monospace, Consolas, monospace;

    font: 18px/145% var(--sans);
    color: var(--text);
    background: var(--bg);
    -webkit-font-smoothing: antialiased;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --text: #9ca3af;
      --text-h: #f3f4f6;
      --bg: #16171d;
      --border: #2e303a;
      --code-bg: #1f2028;
      --accent: #c084fc;
    }
  }

  h1,
  h2 {
    font-family: var(--heading);
  }

  h1 {
    @apply text-[36px] lg:text-[56px] font-medium tracking-[-1.68px] my-5 lg:my-8 text-text-h;
  }

  h2 {
    @apply text-[24px] lg:text-[32px] font-bold leading-[118%] tracking-[-0.24px] mb-2 text-text-h;
  }
}

@layer components {
  #root {
    @apply w-full max-w-[1126px] mx-auto text-center min-h-[100svh] flex flex-col box-border border-x border-border;
  }
}
